.app {
  background-color: #f3f2ef;
  display: flex;
  flex-direction: column;
}

.app__body {
  display: flex;
  margin-top: 40px;
  max-width: 1300px;
  /* margin-left: 400px;
  margin-right: 400px; */
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}
